.login-container {
    width: 100%;
    margin: 30px 0;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.loginImage {
    display: block;
    top:20px;
    max-width: 100px;
    border-radius: 10px;
    border-style: solid;
    border-color: #C9D8DB;
    border-width: 2px;
    overflow: hidden;
    padding-top:5px;
}

.login-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px 0;
    padding: 0;
    width: 100%;
}

.login-1 {
    margin:5px 0;
    padding: 4px 20px;
    min-width: 100px;
    width:50%;
    flex-grow: 1;
    font-size: 0.9em;
    border-radius: 5px;
   background-color: #fff;
}

.login-1:hover {
    background-color: #C9D8DB;
    
}

.login-11 {
    
}