/* 
container1
    main
        leftbar
            logo_self
        right_bar
            ul
                5 li's

*/


.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #2B3137;
   
    color: #FAFBFC
}

.fixed_main {
    position: fixed;
    top: 0;
}

.leftBar {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight:200;
    letter-spacing: 1px;
}

.logo_self {
    margin: 0 10px;
    cursor: pointer;
    font-family: 'Bowlby One SC', cursive;
    
}

.burger {
    min-width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger_self {
    height: 3px;
    background-color: white;
    width: 100%;
    display: block;
    position: relative;
    transition: all 0.2s linear;
}

.burger_self:before,
.burger_self:after {
    content: '';
    position: absolute;
    transition: transform 0.3s linear;
    width: 100%;
    height: 3px;
    z-index: 1;
    background-color: white;
}

.burger_self:before {
    transform-origin: left top;
    top: -8px;
}

.burger_self:after {
    transform-origin: left bottom;
    top:8px;
}

.active .burger_self {
    /* transform: scale(0, 1); */
    background: none;
    
}

.active .burger_self::before {
   
    transform: rotate(45deg) translate(0px,-3px);
}

.active .burger_self::after {
    
    transform: rotate(-45deg) translate(0px,3px);
}


/* UserProfile photo and data on topbar */
.userMain {
    display: flex;
    height: 100%;
    border-left: 1px solid rgba(250, 251, 252, 0.486);
    border-right: 1px solid rgba(250, 251, 252, 0.486);
    cursor: pointer;
    margin-left: 20px; 
    position: relative;
    
}

.userPhoto {
    padding: 7px;
}

.userPhotoSelf {
    display: block;
    border-radius: 10%;
    width: auto;
    height: 100%;
}

.userData {
    padding: 0px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
    overflow: hidden;
}

.userName {
    font-size: 0.7rem;
    font-weight: 300;
}

.userText {
    font-size: 0.7rem;
    opacity: 0.6;
}







/* Add post Add new Lesson and etc */
.addPostNavbar{
    position: relative;
    height: 100%;
}

.addPostItem {
    list-style: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.mainAddButtons {
    position: absolute;
    top: 130%;
    
}

.mainAddButtonsItem {
    width: 100%;
    min-width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}

.addButton {
    background-color:#FAFBFC; 
    padding: 8px 15px;
    border: none;
}

.addButton:hover {
    background-color: #0366D6;
}

.tooltipArrow {
    position: absolute;
    width: 10px;
    height: 10px;
    
    background-color:#FAFBFC;    
    font-size: 0;
    color: transparent;
    transform: rotate(45deg);
    z-index: -1;
}


/* right bar styles */
.right_bar ul {
    height: 100%;
    
    display: flex;
    align-items: center;
    font-family:sans-serif;
    font-weight:300;
    letter-spacing:1px;
    font-size: 1em;
}

.navButton {
    list-style: none;
    margin-left: 10px;
    border: 1px rgba(0,0,0,0) solid;
    padding: 4px 14px 4px;
    cursor: pointer;
    
    font-size: 14px;
    text-transform: uppercase;
}


.right_bar a:last-child li {
    margin-right: 0px;
    
}

.navButton:hover{
    border: 1px grey solid;
    border-radius: 20px;
    
}


.right_bar a {
    text-decoration: none;
    color:#FAFBFC;
}


.activeLink li{
    border: 1px grey solid;
    border-radius: 20px;
}

.search {
    /* background-color: red;
     */
    display:flex;
    align-items: center;
}

 .search input {
    height: 28px;
    width: 200px;
    background-color: rgb(63, 68, 80);
    border: none;
    border-radius: 3px;   
    outline: none;
    color: rgb(148, 133, 133);
    padding-left: 28px;
    /* margin: 0px 20px 0 5px; */
    transition: width 0.2s linear;
}

.searchIcon {
    position: relative;
    left:30px;
    top: -2px;
    color:rgb(101, 113, 139)
}

.laptop input:focus, .tablet input:focus {
    width: 380px;
}






/* media queries go here. There is three Types mobile, tablet, laptop */

.mobile {

}

.tablet {

}

.laptop {
    
}