   .container {
     
     border-radius:5px;
     
     padding:0;
     width: 100%;
     max-width: 350px;
     text-align:center;
     margin: 0 auto;
     margin-top: 10px;
     cursor:pointer;
   } 


   .mainClick:hover {
       background-color:#C9D8DB;
       color: rgb(54, 52, 43);
       border-color: white;
       /* font-size: 1.1em; */
       /* border-width: 2px; */
       transition: all 0.3s;
   }

   .mainClick:active {
  
    background-color: white;
    border-color: #C9D8DB;
    /* padding-top:6px;
    padding-left: 13px; */
}

.mainClick {
  border-color: #C9D8DB;  
  border-width: 2px;
  border-style: solid;
}

.textSidebar {
  font-size: 1.1em;
  font-weight:200;
  margin: 4px;
}

.hiddenDropdown {
  width: 100%;
}