.close {
    border-radius: 50px 50px 50px 50px;
    border: 1px solid green;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    width: 45px;
    height: 45px;
    padding-left: 6px;
    padding-top: 2px;
    margin-right: 0px;
    position:absolute;
    left:26%;
    top: 0px;
    
    background-color: white
}

.close:active {
    outline: none;
}
.close:focus {
    outline: none;
}