.main-transparent {
    width: 100%;
}

.sidebar-main {
    margin-top: 0;
    height:100%;
    background-color:white;
    /* border-radius: 0px 5px 10px 0px; */
    /* position:relative; */
    font-size: 1em;
    overflow-wrap: break-word;
    overflow:auto;
}

.laptop {
    width: 25%;
}

.tablet {
    width: 70%;
}

.mobile {
    width: 100%;
}

.close-btn-sidebar-laptop {
    left:26%;
    top: 0px;
}
.close-btn-sidebar-phone {
    left:71%;
    top: 0px;
}


.inner-container {
    width: 70%;
    margin: 0 auto;
    /* overflow: auto; */
}

