.main {
    background-color:rgba(246,249,252,0.5);
    position: fixed;
    padding-top:50px;
    height: 100%;
    margin-top: 0px;
} 


/* width and other properties is set in the importing components */
